<h3>in order to write a review, you need to login first</h3>

<form action="/login" method="post">
    <label for="">Email</label>
    <input type="email" name="email">
    <label for="">Password</label>
    <input type="password" name="password">
    <button>login</button>
</form>

<h4><a href="/signup">Don't have an account yet? Sign up here</a></h4>