<div class="login-form">
    <form action="/login" method="post">
        <label for="">Email</label>
        <input type="email" name="email">
        <label for="">Password</label>
        <input type="password" name="password">
        <button class="login-btn">login</button>
    </form>
</div>


