<form action="/" method="post">
    <label for="">Name of the Childcare</label>
    <input type="text" name="name"><br>
    <label for="">Location</label>
    <input type="text" name="location"><br>
    <label for="">Zipcode</label>
    <input type="number" name="zipcode"><br>
    <label for="">Image url</label>
    <input type="text" name="image_url"><br>
    <label for="">Number of Meals</label>
    <input type="number" name="number_of_meals"><br>
    <label for="">Provides nappies?</label>
    <input type="text" name="provide_nappies"><br>
    <label for="">Opening Hours</label>
    <input type="text" name="opening_hours"><br>
    <label for="">Daily Fees</label>
    <input type="number" name="daily_fees"><br>
    <label for="">Write your review here</label>
    <textarea name="review"></textarea><br>
    <button>post your review</button>
</form>