body {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

img {
    width: 80%;
    border-radius: 30px;
}

.grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}